@import "./variable.css";
@import "./animation.css";
@import "./base.css";

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0;
}
button{
    margin: 0 16px;
    background: var(--c-purple);
    color: #fff;
    min-width: 100px;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    transition: 300ms all;
}
.actions button:nth-child(1):hover{
    transition: 300ms all;
    border: 3px solid var(--brand-color);
}
.actions button:nth-child(2):hover{
    transition: 300ms all;
    border: 3px solid var(--c-green);
}


button.icon{
    all: unset;
}